[submodule "posh-git"]
	path = posh-git
	url = https://github.com/dahlbyk/posh-git.git
[submodule "pathbackup"]
	path = pathbackup
	url = https://gist.github.com/9488a9bd0bdeb0384aaab2c1bedcf404.git
